<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{{ip}}}</title>
    <link rel="stylesheet" type="text/css" href="assets/appStyle.css"/>
    <link href='https://fonts.googleapis.com/css?family=Biryani|Righteous|Questrial|Raleway|Quicksand|Comfortaa|Coda|Dosis|Passion+One|Cantarell|Rubik+Mono+One' rel='stylesheet' type='text/css'>

    <script type="application/javascript">
      window.aaa = 5;
      window.__init_state = {{{redux}}};
      console.log(aaa);
    </script>

  </head>
  <body>
    <div id="react-view"
      {{{ReactComponent}}}
    </div>

    <script src="assets/app.js"></script>



  </body>
</html>
