.App{
  padding: 0px;
  //background-color: green;
  height: 100vh;
  //height: 350px;
  position: relative;

  font-size: 15px;
  font-weight: 700;
  color: white;


  .background-filter{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;

    &.sunny{
      background: linear-gradient( #4989c4 , #9f8774);
    }

    &.raining{
      background: linear-gradient( #c8d2db , rgb(60, 80, 99));
    }

    &.snowing{
      background: linear-gradient( #454647 , #656565);
    }

    &.cloudy{
      background: linear-gradient( #b4cee7 , #1c1b1b);
    }

    transition: 0.5s;
  }



  .App-gif{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -999;
    //background: #DAE2F8; /* fallback for old browsers */

    img, video{
      width: 100%;
      height: auto;
      opacity: 0.7;
    }
  }

}
