.App{
  padding: 0px;
  //background-color: green;
  height: 100vh;
  //height: 350px;
  position: relative;

  font-size: 15px;
  font-weight: 700;
  color: white;


  .background-filter{
    position: fixed;
    height: 100%;
    width: 100%;
    filter: blur(10px);
    z-index: -1;

    &.sunny{
      background: linear-gradient( #4989c4 , #c36e6e);
    }

    &.raining{
      background: linear-gradient( #161b26 , #2d437d);
    }

    &.snowing{
      background: linear-gradient( #DAE2F8 , #e32f08);
    }

    &.cloudy{
      background: linear-gradient( #373d1f, #6b6c6e);
    }

    transition: 0.5s;
  }



  .App-gif{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -999;
    //background: #DAE2F8; /* fallback for old browsers */

    img, video{
      width: 100%;
      height: auto;
      opacity: 0.7;
    }
  }

}
