.ForecastBar{

  @media screen and (min-width: 768px){
    position: absolute;
    top:80%;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0;
    .ForecastBar-container{
      height: 100%;
    }
  }

  text-align: center;

}



.ForecastDay{

  height: 200px;

  @media screen and (min-width: 768px){
    height: 99%;
  }

  width: 100px;
  margin: 0 25px;
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;

  .content{
    //background-color: rgba(98, 109, 126, 0.33);
    //ax-width: 90px;
    max-height: 160px;
    height: 90%;
    //width: 90%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
  }

  &.selected-day{
    background-color: rgba(2, 52, 93, 0.5);
    //border: 2px solid rgba(2, 52, 93, 0.73);
    //box-sizing: border-box;
    border-radius: 10px;
  }
}
