.GraphTemp{

  @media screen and (min-width: 768px){
    position: absolute;
    top: 40%;
    bottom: 20%;
    right: 0;
    left: 0;

    .GraphTemp-content{
      height: 100px;
    }

  }

  //height: 40%;
  //border: 2px solid purple;
  margin-bottom: 0;
  margin-top: 0;


  .GraphTemp-content{
    width: 660px;
    margin: auto;
  }
}

.GraphLine{
  margin-top: 30px;
  border: none;

  canvas{
    //  border: 1px solid red;
  }
}
