.Header{

  text-align: center;
  margin:0;
  position: relative;

  .unit-container{
    .unit{
      height: 50px;
      display: inline-block;
      width: 50%;
      position: relative;
      cursor: pointer;
      &.selected{
        background-color: rgba(7, 8, 9, 0.55);
      }

      .label{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-family: "Raleway";
        font-size: 30px;
        color: white;
      }
    }

    }

  .title{
    font-family: 'Coda';
    font-size: 22px;
    font-weight: 800;
    color: white;
    text-align: center;
    }

    @media screen and (min-width: 768px){
      height: 50px;
      .unit-container{
        position: absolute;
        right: 10px;
        height: 100%;
        width: 80px;
        .unit{
          height: 100%;
        }
      }

      .title{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0,-50%);
      }
    }

}
