.TemperatureDisplay{
  display: inline;

  .value{
    position: relative;

    &.large{
      font-size: 35px;
    }

    &.small{
      font-size: 20px;
    }
  }

  .unit{
    max-width: 20px;
    height: 50%;
    display: inline-block;
    position: absolute;
    left: 100%;

    &.large{
      font-size: 20px;
      top: 5px;
    }

    &.small{
      font-size: 13px;
      top: 2px;
    }
  }

}
